@model IEnumerable<mvc_app.RouteConfig>

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<p>
Results here
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>
</table>
