@model IEnumerable<mvc_app.RouteConfig>

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<p>
	<label>Total amount of issues:&nbsp;</label>@ViewBag.TotalIssues
</p>
