@{
	ViewBag.Title = "Home Page";
}

<h2 class="header">Github project repository</h2>

<fieldset>
	<ul>
		<li>
			@Html.Label("GitHub Repository Url: ");
			@Html.TextBox("GitHubRespositoryUrl", @"https://github.com/Shippable/docsv2/", new { style = "width: 300px;color: #666666;padding:5px;"});
			@Html.ActionLink("Get issues", $"Results", $"Home", new {id= ""}, null); 
		</li>
	</ul>
</fieldset>