@{
	ViewBag.Title = "Home Page";
}

<div class="header">
	<h1>Github project repository</h1>
</div>

<div class="row result">
	
	<form action="/Result/result" method="POST">
		<label>https://github.com/&nbsp;</label>
		<input type="text" name="GitHubUserName" value="miguelmoreno">&nbsp;/&nbsp;
		<input type="text" name="GitHubRepository" value="shippable">&nbsp;
		<input type="submit" value="GitHubRepositoryData">
	</form>
</div>