@{
    ViewBag.Title = "Home Page";
}

<div class="header">
    <h1>Github project repository</h1>
	<p class="lead">
		<label>
			Input here: <input type='text' name='theinput' id='theinput'>
		</label>
	</p>
    <p><a href="#" class="btn btn-primary btn-lg">Go!</a></p>
</div>

<div class="row result">
    
</div>