@{
    ViewBag.Title = "Home Page";
}

<div class="header">
    <h1>Github project repository</h1>
	<p class="lead">
		<label>
			Github https url: <input type='text' name='guthuburl' id='githuburl'>
		</label>
	</p>
    <p><a href="../Result/result" class="btn btn-primary btn-lg">Go!</a></p>
</div>

<div class="row result">
    
</div>